*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;    
}

.navContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: rgb(108, 105, 105);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    width: 100%;
}
.logoCircle{
    background-color:rgb(181, 179, 179);
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#logoIcon{
    font-size: 20px;
    font-weight: bold;
}
#navLinksID{
    list-style: none;
    display: flex;
    gap: 35px;
}
#navLinksID a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#navLinksID a:hover{
    opacity: 0.6;
}
.email{
    background-color: grey;
    padding: 15px;
    border-radius: 20px;
}
#Email{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
#Email:hover{
    opacity: 0.8;
}
